<div class="">
    <div class="col-xl col-sm-12 card">
        <div class="row">
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-proveedor.Label.name' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.name' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.name' | translate}}</small>
            </div>
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-proveedor.Label.nit' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.nit' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.nit' | translate}}</small>
            </div>            
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-proveedor.Label.email' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.email' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.email' | translate}}</small>
            </div>
            <div class="col-sm-3">
                <label for="exampleInputEmail1">
                    {{ 'pages-proveedor.Label.status' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-proveedor.Placeholder.status' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-proveedor.Error.status' | translate}}</small>
            </div>
        </div>
    </div>
</div>