<div class="">
    <div class="col-xl col-sm-12 card">
            <div class="col-sm-12">
                <label for="exampleInputEmail1">
                    {{ 'pages-usuarios.Label.email' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-usuarios.Placeholder.email' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.email' | translate}}</small>
            </div>
            <div class="col-sm-12">
                <label for="exampleInputEmail1">
                    {{ 'pages-usuarios.Label.firstName' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-usuarios.Placeholder.email' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.firstName' | translate}}</small>
            </div>
            <div class="col-sm-12">
                <label for="exampleInputEmail1">
                    {{ 'pages-usuarios.Label.statusUser' | translate}}
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="" aria-describedby="emailHelp" placeholder="{{ 'pages-usuarios.Placeholder.select' | translate}}">
                <small id="emailHelp" class="form-text text-muted">{{ 'pages-usuarios.Error.isActive' | translate}}</small>
            </div>
    </div>
</div>