<div class="">
    <h1>{{ 'pages-mantenimiento.Title.Module' | translate}}</h1>
  
    <app-globales-tablecrud
      [campoFiltro] = true
      [endPoint] = "'orden-mantenimiento'"
      [columnas] = columnas
      [permisosAcciones] = permisos
  
      (verItem) = "verData($event)"
      (crearNuevoItem) = "crearData($event)"
      (editarItem) = "editarData($event)"
      (eliminarItem) = "eliminarData($event)"
      (historicoItem) = "historicoData($event)"
    >
    </app-globales-tablecrud>

    <app-globales-modal-boostrap
      [tamano]="tamano"
      [scrollable]="scrollable"
      [title]="title"
      [save]="save"
      [buttonSave]="buttonSave"
      [edit]="edit"
      [buttonEdit]="buttonEdit"
      [cancel]="cancel"
      [buttonCancel]="buttonCancel"
      [componentePrecargado]="componentePrecargado"
      [cierreModal]="cierreModal"
      (actualizarTabla)="refrescarTabla()"
    >
    </app-globales-modal-boostrap>
</div>
  